<div class="user__form-wrapper p-2">
    <div class="add__user_form-container position-reletive">
        <div class="close btn-close"></div>
        <h3 class="text-white">Add User for chat</h3>
        <div class="input_password">
            <span class="inputColor">
                <input name="userName" placeholder="Enter username" type="text" id="username" value="">
            </span>
            <p class="error"> </p>

        </div>
        <div class="searched_user-container text-center">

        </div>

    </div>


</div>